body {
    font-family: 'Merriweather', serif;
    text-align: center;
    color: #40514E;
    margin: 0px;
}

h1 {
    font-family: 'Sacramento', cursive;
    font-size: 6.0rem;
    margin: 50px auto 0 auto;
    color: #66bfbf;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.0 rem;
    font-weight: normal;
    margin-top: 0;
    color: #66BFBF;
    font-weight: bold;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    font-weight: bold;
}

hr
{
    color:rgb(153, 150, 150);
    width: 5%; border-width: 6px;
    border-style: none;   border-top-style: dotted;
    margin: 100px auto;
    
}
p {
    color: #40514E;
    line-height: 2;
}
a
{
font-family: 'Montserrat', sans-serif;
color: #11999E;
margin: 10px 20px;
text-decoration: none;
}
a:hover
{
    color: #eaf6f6;
}

.top-container {
    position: relative;
    padding-top: 100px;

    background-color: #EAF6F6;
}

.middle-container {
    background-color: white;
    margin: 100px auto 100px auto;
}
.intro
{
    width:30%;
    margin: auto;
        
}

.bottom-container {
    background-color: #66BFBF;
    padding : 50px 0 20px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
   

}

.Full {
    font-family: 'Permanent Marker', cursive;
    font-weight: bold;

    color: #5bb318;
}

.empty {
    margin-right: 8px;

    text-decoration: line-through;
    color: #66bfbf;
}

.top-cloud {
    position: absolute;
    top: 40px;
    right: 300px;
}

.bottom-cloud {
    position: absolute;
    bottom: 300px;
    left: 250px;
}

.siva-profile {
    width: 130px;
    height: 200px;
    border-radius: 50%;
}

.java-image {
    width: 25%;
    height: 25%;
    float: left;
    margin-right: 30px;
    margin-bottom:30px;
}


.ilovejava {
    font-family: 'Silkscreen', cursive;
    color: #ff1e00;
}

.frontend-image {
    width: 25%;
    height: 25%;
    float: right;
    margin-left: 30px;
}
.contact-msg
{
    width:40%;
    margin:40px auto 60px;
}
.footer-link
{
    color:#11999E;
}
.final-desc {
    color: #eaf6f6;
    font-size:0.75rem;
    padding: 20px 0 ;
    
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    border-width: 0px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }